.gallery-main {
    text-align: center;
}

.gallery-txt {
    font-size: 35px;
}

.number-cakesimg {
    height: 500px;
    margin: 10px;
}

.number-cakesmain {
    text-align: center;
}

.number-cakesmain p {
    font-size: 35px;
}

.weddingcake-div {
    margin-top: 140px;
}

.weddingcake-txt {
    font-size: 35px;
}

.wedding-img {
    height: 500px;
    margin: 10px;
}

.rainbow-img {
    height: 500px;
    margin: 10px;
}

.rainbowcake-txt {
    font-size: 35px;
}

.rainbowcake-div {
    margin-top: 140px;
}